sudo: false
language: rust
rust:
  - nightly
  - beta
  - stable

env:
  -
  - LAPACK=1 CARGO_FEATURE_SYSTEM_NETLIB=1 CARGO_FEATURE_EXCLUDE_LAPACKE=1 CARGO_FEATURE_EXCLUDE_CBLAS=1
  - NO_STD=1 CARGO_FEATURES=""
  - NO_STD=1 CARGO_FEATURES="alloc"

addons:
  apt:
    packages:
      - gfortran
      - libblas3gf
      - liblapack3gf
script:
    - rustc --version
    - cargo --version
    - ./ci/build.sh
    - ./ci/test.sh

matrix:
  exclude:
  - rust: stable
    env: NO_STD=1 CARGO_FEATURES=""
  - rust: beta
    env: NO_STD=1 CARGO_FEATURES=""
  - rust: stable
    env: NO_STD=1 CARGO_FEATURES="alloc"
  - rust: beta
    env: NO_STD=1 CARGO_FEATURES="alloc"
