/*!

# A n-dimensional linear algebra library.

*/
#[link(name = "nalgebra"
       , vers = "0.1"
       , author = "Sébastien Crozet"
       , uuid = "1E96070F-4778-4EC1-B080-BF69F7048216")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;
extern mod extra;

mod dmat;
mod dvec;
pub mod vec;
pub mod mat;

// specialization for some 1d, 2d and 3d operations
pub mod mat_spec;
pub mod vec_spec;
pub mod vec0_spec;

/// Wrappers around raw matrices to restrict their behaviour.
pub mod adaptors
{
  pub mod rotmat;
  pub mod transform;
}

pub mod types;

pub mod num
{
  pub use traits::dim::*;
  pub use traits::homogeneous::*;
  pub use traits::ring::*;
  pub use traits::division_ring::*;
}

// FIXME: it would be better to hide all those from the outside!
/// Useful linear-algebra related traits.
mod traits
{
  mod sample;
  mod indexable;
  mod column;
  mod iterable;
  mod dot;
  mod cross;
  mod inv;
  mod transpose;
  mod dim;
  mod basis;
  mod norm;
  mod rotation;
  mod translation;
  mod transformation;
  mod vector_space;
  mod ring;
  mod division_ring;
  mod sub_dot;
  mod rlmul;
  mod scalar_op;
  mod homogeneous;
}

#[cfg(test)]
pub mod tests
{
  pub mod mat;
  pub mod vec;
}
