/*!

# A n-dimensional linear algebra library.

*/
#[link(name = "nalgebra"
       , vers = "0.1"
       , author = "Sébastien Crozet"
       , uuid = "1E96070F-4778-4EC1-B080-BF69F7048216")];
#[crate_type = "lib"];
#[deny(non_camel_case_types)];
#[deny(non_uppercase_statics)];
#[deny(unnecessary_qualification)];
#[deny(missing_doc)];
#[deny(warnings)];

extern mod std;
extern mod extra;

pub mod dmat;
pub mod dvec;
pub mod vec;
pub mod mat;

// specialization for some 1d, 2d and 3d operations
mod mat_spec;
mod vec_spec;
mod vec0_spec;
mod identity_spec;

/// Wrappers around raw matrices to restrict their behaviour.
pub mod adaptors
{
    pub mod rotmat;
    pub mod transform;
}

pub mod types;

// FIXME: it would be better to hide all those from the outside!
mod traits
{
    mod vector;
    mod sample;
    mod indexable;
    mod column;
    mod row;
    mod iterable;
    mod outer;
    mod cross;
    mod inv;
    mod transpose;
    mod dim;
    mod basis;
    mod rotation;
    mod translation;
    mod transformation;
    mod rlmul;
    mod scalar_op;
    mod homogeneous;
    mod vec_cast;
    mod mat_cast;
}

#[cfg(test)]
pub mod tests
{
    pub mod mat;
    pub mod vec;
}
