/*!

# The n-dimensional linear algebra library.

*/



#[link(name = "nalgebra"
       , vers = "0.0"
       , author = "Sébastien Crozet"
       , uuid = "1E96070F-4778-4EC1-B080-BF69F7048216")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;

pub mod vec;
pub mod mat;
pub mod dmat;
pub mod dvec;

// specialization for some 1d, 2d and 3d operations
pub mod mat_spec;
pub mod vec_spec;

/// Wrappers around raw matrices to restrict their behaviour.
pub mod adaptors
{
  pub mod rotmat;
  pub mod transform;
}

/// Useful linear-algebra related traits.
pub mod traits
{
  pub mod indexable;
  pub mod column;
  pub mod iterable;
  pub mod dot;
  pub mod cross;
  pub mod inv;
  pub mod transpose;
  pub mod dim;
  pub mod basis;
  pub mod norm;
  pub mod rotation;
  pub mod translation;
  pub mod transformation;
  pub mod vector_space;
  pub mod ring;
  pub mod division_ring;
  pub mod sub_dot;
  pub mod rlmul;
  pub mod scalar_op;
  pub mod homogeneous;
}

#[cfg(test)]
pub mod tests
{
  pub mod mat;
  pub mod vec;
}
